body {
    height: 100vh;
    background: url('29d9c5cad74eb6313c819b2146406bcb.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.install-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.3s;
}

.install-btn.hidden {
    opacity: 0;
    pointer-events: none;
}
